<?xml version="1.0"?>
<configuration>

  <appSettings />
  <connectionStrings/>
  <system.web>

    <httpRuntime requestValidationMode="2.0" />

    <compilation debug="false" strict="false" explicit="true">
      <assemblies>
        <add assembly="Blackbaud.CustomFx.SkyUI"/>
      </assemblies>

    </compilation>

    <httpHandlers>
      <add verb="*" path="*" type="Blackbaud.CustomFx.SkyUI.FroggerPageHandler,Blackbaud.CustomFx.SkyUI" />
    </httpHandlers>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <handlers>
      <add name="FroggerPageHandler" verb="*" path="*" preCondition="integratedMode" type="Blackbaud.CustomFx.SkyUI.FroggerPageHandler,Blackbaud.CustomFx.SkyUI"/>
    </handlers>

    <httpCompression directory="mc">
      <dynamicTypes>
        <clear />
      </dynamicTypes>
    </httpCompression>

    <httpErrors existingResponse="PassThrough"/>

    <security>
      <authentication>
        <!--<basicAuthentication enabled="false" />-->
        <anonymousAuthentication enabled="true" />
        <!--<windowsAuthentication enabled="false" authPersistSingleRequest="false" />-->
      </authentication>
    </security>

    <staticContent>
      <mimeMap fileExtension="svg" mimeType="image/svg+xml"/>
    </staticContent>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <security>
        <authentication>
          <basicAuthentication enabled="false" />
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <location path="Default.aspx">
    <system.webServer>
      <security>
        <authentication>
          <basicAuthentication enabled="false" />
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>